{
  "extends": [
    "eslint:recommended",
    "plugin:security/recommended"
  ],
  "plugins": ["prettier", "security"],
  "rules": {
    'no-console' : 0,
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true,
  },
}
